{% block content %}

<h3> Sample shorturl template </h3>

<form method="POST" action=".">
Paste the url you want to make short (remember http://): {{ shorturlform.url }}
<input type="submit" value="Shorten!" class="submitbutton">
<br>

{% if usershorturls %}
	<hr>
  	<b><p>Your shortened URLs:</p></b>
	{% for url in usershorturls %}
		<p>{{ url.url }} is shortened with http://yoururlhere.com/{{ url.shorturl }} and has been visited {{ url.counter }} times. <a href='{% url globalshorturls.delete_shorturl url.id %}'>Delete</a></p>
	{% endfor %}
{% endif %}

{% endblock %}